
@{
    ViewBag.Title = "Checkout";
}


<body style="background-color:burlywood">
    <h2 style="color:crimson">@ViewBag.Message</h2>

    <br />


    @Html.ActionLink("ContinueOrdering", "Menu", "Home", new { @class = "btn btn-primary" })

</body>





















<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
